lint_system_management:
  stage: lint
  parallel:
    matrix:
      - RUNNER_TAG: [debian,redhat]
  script:
    - |
       make -C system_management lint_all;
  allow_failure:
    exit_codes:
      - 1

  tags:
     - $RUNNER_TAG

  rules:
    - if: $CI_SWTR_ONLY_CONTAINERS == "true"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
         - build_vms/**/*
	 when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
         - .gitlab-ci.yml
         - .gitlab-ci/lint.yml
         - ./system_management/**/Makefile
         - ./system_management/spec/**/*_spec.sh
         - ./system_management/lib/**/*.sh
         - common.mk

lint_c_processmanagement:
  stage: lint
  parallel:
    matrix:
      - RUNNER_TAG: [debian,redhat]
  script:
    - |
       cd processmanagment/os;
       ./lint_code.sh -c;

  tags:
     - $RUNNER_TAG

  rules:
    - if: $CI_SWTR_ONLY_CONTAINERS == "true"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
         - build_vms/**/*
	 when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
         - .gitlab-ci.yml
         - .gitlab-ci/lint.yml
         - processmanagement/**/*.c
         - processmanagement/**/*.cpp
         - processmanagement/**/*.py
         - processmanagement/os/requiremments.txt
         - processmanagement/os/lint_code.sh
         - common.mk
  artifacts:
    when: always
    paths:
      - ./**/reports/cppcheck*.junit
    reports:
      junit: ./**/reports/cppcheck*.junit

lint_python_processmanagement:
  stage: lint
  parallel:
    matrix:
      - RUNNER_TAG: [debian,redhat]
  script:
    - |
       cd processmanagment/os;
       ./lint_code.sh -p;

  tags:
     - $RUNNER_TAG

  rules:
    - if: $CI_SWTR_ONLY_CONTAINERS == "true"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - changes:
         - build_vms/**/*
	 when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
         - .gitlab-ci.yml
         - .gitlab-ci/lint.yml
         - processmanagement/**/*.c
         - processmanagement/**/*.cpp
         - processmanagement/**/*.py
         - processmanagement/os/requiremments.txt
         - processmanagement/os/lint_code.sh
         - common.mk
  artifacts:
    when: always
    paths:
      - ./**/reports/python_code*.*
    reports:
      codequality: ./**/reports/python_code_gitlab.json
