Source: swtrstrlib
Priority: optional
Maintainer: Eric Bruno <ebruno@softwaretrace.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/swtrstrlib.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/swtrstrlib.git

Package: swtrstrlib-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: swtrstrlibBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: swtrstrlibBROKEN
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
